<h1 class="mt-4">Bem Vindo</h1>
<p class="lead mb-3">Registro: <%= user.registro %></p>
<a href="/registrar_ocorrencia" class="btn btn-secondary">Registrar Ocorrencia</a>
<a href="/consultar_ocorrencia" class="btn btn-secondary">Consultar Ocorrencia</a>
<a href="/users/logout" class="btn btn-secondary">Sair</a>